<section class="content" class="contenido">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Lista de Cpus</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                     <div class="col-sm-12 col-md-6">
                    <button class="btn " routerLink="/dashboard/newcpu">Nuevo</button>
                     </div><div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder=""  [(ngModel)]="filter" name="filter"></label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><table id="example1" class="table  table-striped dataTable dtr-inline collapsed" role="grid" >
                <thead>
                <tr role="row" style="text-align: center; font-size: 13px; color: grey;">
                    <th  tabindex="0"  rowspan="1" colspan="1" >Código</th>
                  <th  tabindex="0"  rowspan="1" colspan="1" >Marca</th>
                  <th  tabindex="0"  rowspan="1" colspan="1"  >Placa</th>
                  <th  tabindex="0"  rowspan="1" colspan="1" >Pocesador</th>
                  <th  tabindex="0"  rowspan="1" colspan="1"  >Disco</th>
                  <th  tabindex="0"  rowspan="1" colspan="1"  >Ram</th>
                  <th  tabindex="0"  rowspan="1" colspan="1"  >Video</th>
                  <th  tabindex="0"  rowspan="1" colspan="1" >Color</th>
                  
                  <th  tabindex="0"  rowspan="1" colspan="1" >Serie</th>
                  <th  tabindex="0"  rowspan="1" colspan="1"  >año</th>
                  <th  tabindex="0"  rowspan="1" colspan="1"  >Estado</th>
                  <th  tabindex="0"  rowspan="1" colspan="1"  >Observación</th>
                  <th  tabindex="0"  rowspan="1" colspan="1"  >Ubicación</th>
                </thead>
                <tbody>       
                
                
                <tr class="odd" style="text-align: center; font-size: 11.5px;">
                  <td >LB-CPU-001</td>
                  <td>AVANTEC</td>
                  <td>MSI3456</td>
                  <td >Intel Core i3 1098 3.5 ghz</td>
                  <td>200 GB HDD</td>
                  <td>8GB DDR3</td>
                  <td>4GB INTEGRADA</td>
                  <td >NEGRO</td>
                  <td>LB-CPU-001</td>
                  <td>2008</td>
                  <td style="color:red; font-weight: bold;">INOPERATIVO</td>
                  <td>problemas con el disco</td>
                  <td>ALMACEN</td>
                  <td><a data-toggle="modal" data-target="#staticBackdrop" title="Editar usuario" style="padding-right: 20px; color:orange; font-size: 15px; cursor: pointer;"><i class="fas fa-pencil-alt"></i></a></td>
                
                  <!-- <td > 
                    
                    <button class="btn active " [class.redClass]="user.state !=true" (click)="cambiarEstado(i)">{{user.state | estado}}</button>
                  </td>
                 
                 
                  
                  <td >
                    <a routerLink="/dashboard/edituser/{{user.nombreUsuario}}"title="Editar usuario" style="padding-right: 20px; color:orange; font-size: 15px;"><i class="fas fa-pencil-alt"></i></a>
                    <a routerLink="/dashboard/newpassword/{{user.nombreUsuario}}"title="Cambiar contraseña" style="padding-right: 20px; color:rgb(78, 233, 17); font-size: 15px;"><i class="fas fa-redo-alt"></i></a>
                    <a routerLink="/dashboard/newrol/{{user.nombreUsuario}}"title="Cambiar Rol" style="padding-right: 20px; color:rgb(84, 82, 243); font-size: 15px;"><i class="fas fa-user-tag"></i></a>
                  </td> -->
                </tr>
                  </tbody>
              
              </table>
            </div>
          </div>
        </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header">
              <h3 class="card-title">Modificar Cpu</h3>
            </div>
            </div>
          <div class="container">
                       <form  novalidate #f="ngForm">
                        <div class="row mb-2"> 
                          <div class="col-sm-12 col-md-4 mx-auto">  
                            <div class="form-group">
                                <label for="dni">CODIGO:</label>
                                <label for="dni">LB-CPU-001</label>
                                <!-- <input type="text" class="form-control" id="dni" name="dni"
                                [(ngModel)]="dni" required> -->
                            </div>       
                            <div class="form-group">
                                <label for="dni">Marca:</label>
                                <label for="dni">AVANTEC</label>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Placa:</label>
                                <label for="dni">ABUED-15451</label>
                            </div>
                            <div class="form-group">
                              <label for="registrationplate">Color:</label>
                              <label for="dni">PLOMO</label>
                          </div>
                          <div class="form-group">
                            <label for="lastname">Procesador:</label>
                            <label for="dni">Core i3 octava generacion</label>
                          </div>
                          </div>
                          <div class="col-sm-12 col-md-4 mx-auto">  
                            <div class="form-group">
                              <label for="registrationplate">Disco Duro:</label>
                              <label for="dni">80 GB HDD</label>
                          </div>    
                          <div class="form-group">
                            <label for="registrationplate">Memoria Ram:</label>
                            <label for="dni">8GB DDR3</label>
                        </div>
                        <div class="form-group">
                          <label for="registrationplate">Tarjeta de video:</label>
                          <label for="dni">INTEGRADA</label>
                      </div>
                      <div class="form-group">
                        <label for="registrationplate">Serie:</label>
                        <label for="dni">ASDASDASD</label>
                    </div>
                          </div>
                        </div>
                          <div class="row mb-2"> 
                            <div class="col-sm-12 col-md-4 mx-auto">  
                              <div class="form-group">
                                 <label for="carbrand">Estado:</label>
                                 <select class="form-control" id="type" name="type" required>
                                     <option value="Administrativo">OPERATIVO</option> 
                                     <option value="Directivo">INOPERATIVO</option> 
                                     <option value="Directivo">REPARACIÓN</option>
                                  </select>
         
                              </div>
                             <div class="form-group">
                                 <label for="registrationplate">Observación:</label>
                                 <input type="text" class="form-control" id="phone" name="phone"
                                  required>
                             </div>
                             <div class="form-group">
                                 <label for="registrationplate">Destino:</label>
                                 <input type="text" class="form-control" id="phone" name="phone"
                                 required>
                             </div>
         
                          </div>
                               <div class="col-sm-12 col-md-4 mx-auto">  
                                   <div class="form-group">
                                      <label for="carbrand">Estado:</label>
                                      <select class="form-control" id="type" name="type" required>
                                          <option value="Administrativo">OPERATIVO</option> 
                                          <option value="Directivo">INOPERATIVO</option> 
                                          <option value="Directivo">REPARACIÓN</option>
                                       </select>
              
                                   </div>
                                  <div class="form-group">
                                      <label for="registrationplate">Observación:</label>
                                      <input type="text" class="form-control" id="phone" name="phone"
                                       required>
                                  </div>
                                  <div class="form-group">
                                      <label for="registrationplate">Destino:</label>
                                      <input type="text" class="form-control" id="phone" name="phone"
                                      required>
                                  </div>
              
                               </div>
                          </div>
                          <div class="col-sm-12 col-md-4 mx-auto">
                              <button class="btn btn-outline-primary btn-block" data-dismiss="modal" [disabled]="!f.valid">Enviar</button>
                          </div>
                          
                      </form>
                  
                  </div>
                  
                  
      </div>
    
    </div>
  </div>
</div>