button{
    background-color: #2D2E72;
    color: #FFFFFF;
    border-radius: 15px;
    font-size: 14px;
}

button:hover{
    background-color: #0F1047;
    color: #FFFFFF;
}

input{
    border-radius: 15px;
}
label{
    color:grey;
    font-size: 13px;
}
h3{
    color:grey; 
}