.contenido {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
   
}

button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

/* ---------------------------------------------------------------- */

.caja{
    width: 90%;
    
}
.conductor{
    padding-left: 15px;
    margin-bottom: 20px;
    
}

.card2{
    margin-left: 20px;
    margin-bottom: 20px;
    height: 150px;
    width: 200px;
    position: relative;
}
input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    height: 40%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    box-shadow: 7px 7px 15px rgba(2,28,53,0.08);
    cursor: pointer;
    outline: none;
}
input[type="radio"]:before{
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: #f9fafd;
    border: 1px solid #e2e6f3;
    border-radius: 50%;
    top: 20px;
    right: 20px;
}
input[type="radio"]:after{
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: transparent;
    border-radius: 50%;
    top: 24.5px;
    right: 24.5px;
}
.title{
    position: absolute;
    margin: 20px;
    cursor: pointer;
}

span{
    /* font-weight: 400;
    /* font-size: 18px;
    color: #7b7b93; */ font-weight: normal;
}
input[type="radio"]:hover{
    transform: scale(1.05);
}
input[type="radio"]:checked{
    border: 3px solid #218838;
}
input[type="radio"]:checked:after{
    background-color: #218838;
}


