<div class="card">
    <div class="card-header">
        <h3 class="card-title">Cambiar contraseña</h3>
      </div>
      </div>
    <div class="container">
                 <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="row mb-2"> 
                
                <div class="col-sm-12 col-md-4 mx-auto">       
                    <div class="form-group">
                        <label for="username" [(ngModel)]="users.nombre">Cambiar la contraseña de: <strong> {{users.nombre}}</strong></label>
                    </div>
                    <div class="form-group">
                        <label for="password">Ingrese nueva contraseña:</label>
                        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="users.password" required >
                        
                    </div>
                  </div>
                 
            </div>
            <div class="col-sm-12 col-md-4 mx-auto">
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Cambiar contraseña</button>
            </div>
            
        </form>
    
    </div>
    
    