<section class="content" class="contenido">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Lista de Personas</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                     <div class="col-sm-12 col-md-6">
                    <button class="btn btn-success " routerLink="/dashboard/newperson">Nuevo</button>
                     </div><div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder=""  [(ngModel)]="filtername" name="filtername"></label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><table id="example1" class="table table-bordered table-striped dataTable dtr-inline collapsed" role="grid" >
                <thead>
                <tr role="row">
                  <th  tabindex="0"  rowspan="1" colspan="1" >DNI/CE/PASAPORTE</th>
                  <th  tabindex="0"  rowspan="1" colspan="1"  >Datos Personales</th>
                  <th  tabindex="0"  rowspan="1" colspan="1" >Cargo</th>
                  <th  tabindex="0" rowspan="1" colspan="1" >Telefono</th>
                  <th  tabindex="0"  rowspan="1" colspan="1" >Estado</th>
                  <th  tabindex="0"  rowspan="1" colspan="1"  >Vehiculos</th>
                  <th  tabindex="0"  rowspan="1" colspan="1"  >Editar</th>
                </thead>
                <tbody>       
                
                
                <tr class="odd" *ngFor="let person of persons | filterperson:filtername; let i=index">
                  <td >{{person.dni}}</td>
                  <td>{{person.name}} {{person.lastname}}</td>
                  <td>{{person.type}}</td>
                  <td >{{person.phone}}</td>
                  <td > 
                     <button class="btn active " [class.redClass]="person.enabled !=true" (click)="cambiarEstado(i)">{{person.enabled | estado}}</button>
                  </td>
                  <td>
                  <div *ngFor="let datos of person.cars" >
                    {{datos.registrationplate}}
                  </div>
                </td>
                 
                  
                  <td >
                    <a routerLink="/dashboard/edit/{{person.dni}}" title="Editar conductor" style="padding-right: 20px; color:orange; font-size: 15px;"><i class="fas fa-pencil-alt"></i></a>
                    
                  </td>
                </tr>
                  </tbody>
               
              </table>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 11 to 20 of 57 entries

              </div>
            </div>
            <div class="col-sm-12 col-md-7">
              <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                <ul class="pagination">
                  <li class="paginate_button page-item previous" id="example1_previous">
                    <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                  </li>
                  <li class="paginate_button page-item ">
                    <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                  </li>
                  <li class="paginate_button page-item active">
                    <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                  </li>
                  <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                  </li>
                  <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                  </li>
                  <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                  </li>
                  <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                  </li><li class="paginate_button page-item next" id="example1_next">
                    <a href="#" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                  </li>
                </ul>
              </div>
            </div>
          </div> -->
        </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>