<section class="content">
<!-- Default box -->
 <div class="card">
    <div class="card-header">
      <h3 class="card-title">Dashboard</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      
         <!-- Small Box (Stat card) -->
        <h5 class="mb-2 mt-4">Bienvenido</h5>
        <div class="row">
            <!------->
            <div class="col-lg-3 col-6">
              <!-- small card -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>10</h3>
  
                  <p>Solicitudes</p>
                </div>
                <div class="icon">
                  <i class="fa-regular fa-bell"></i>
                </div>
                <a routerLink="/dashboard/cars" class="small-box-footer">
                  Ver mas <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <!---->
              <!------->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>20</h3>

                <p>Libros</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-book"></i>
              </div>
              <a routerLink="/dashboard/cars" class="small-box-footer">
                Ver mas <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!---->
            <!------->
            <div class="col-lg-3 col-6">
              <!-- small card -->
              <div class="small-box" style="background-color: #E44258;">
                <div class="inner">
                  <h3>30</h3>
  
                  <p style="color: white;">Prestamos</p>
                </div>
                <div class="icon">
                  <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </div>
                <a routerLink="/dashboard/cars" class="small-box-footer">
                  Ver mas <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <!---->
          <!------->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box" style="background-color:#587AFB ;">
              <div class="inner">
                <h3>40</h3>

                <p style="color: white;">Pendientes</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-arrow-rotate-left"></i>
              </div>
              <a routerLink="/dashboard/cars" class="small-box-footer">
                Ver mas <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        
        </div>
        <!-- /.row -->
    
    </div>
  
  </div>
  <!-- /.card -->


</section>
